/* Channel selection */
[class*="containerDefault"]:hover{
  background-color: var(--primary-560);
  border-left: 3px solid var(--primary-500);
  border-radius: 0px;
}
[class*="containerDefault"][class*="selected"]{
  background-color: var(--primary-660);
  border-left: 3px solid var(--primary-560);
  border-radius: 0px;
}
[class*="containerDefault"][class*="selected"] > div > div > [class*="link"] > [class*="emojiColorFill-"] {
margin-left: -30px;
margin-top: 0px;
}
[class*="link"] {
  background: none !important;
}
