/* Makes messages slide into chat */
[data-list-item-id*="chat-messages_"]:not(:has([class*="contents"] > [class*="isSending"])) {
  animation: slide-in 0.75s;
}
[data-list-item-id*="chat-messages_"]:has([class*="contents"] > [class*="isSending"]) {
    opacity: 0;
    animation: slide-in 0.75s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}